.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1560px;
    height: 100vh;
    margin: auto;
}

.display-none {
    display: none;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-row {
    display: flex;
    flex-direction: row;
}